<h2 align="center">Enter Building Details</h2>

<div class="container">
  <div class="col-md-8 content-center">
    <form [formGroup]="newBuildingForm" class="form-horizontal" (ngSubmit)="submitForm()">

      <div class="form-group">
        <label for="buildingName" class="col-md-2"><b>Name*</b></label>
        <input formControlName="buildingName" [class.is-invalid]="buildingName.invalid && buildingName.touched"
          placeholder="Building Name" type="text" id="buildingName" class="form-control col-md-3">
        <small class="text-danger" [class.d-none]="buildingName.valid || buildingName.untouched">Building Name is
          required</small>
      </div>
      <div class="form-group">
        <label for="buildingArea" class="col-md-2"><b>Area*</b></label>
        <input formControlName="buildingAdress" type="text" id="buildingArea" class="form-control col-md-3"
          [class.is-invalid]="buildingAdress.invalid && buildingAdress.touched">
        <small class="text-danger" [class.d-none]="buildingAdress.untouched || buildingAdress.valid"> Address is
          required</small>
      </div>
      <div class="form-group">
        <label for="buildingOwner" class="col-md-2"><b>Owner*</b></label>
        <input formControlName="buildingOwner" type="text" id="buildingOwner" class="form-control col-md-3"
          [class.is-invalid]="buildingOwner.invalid && buildingOwner.touched">
        <small class="text-danger" [class.d-none]="buildingOwner.untouched || buildingOwner.valid"> Building Owner is
          rewuired</small>
      </div>
      <br>
      <div class="well">
        <div formArrayName="floors" *ngFor="let floor of floors.controls; let floorIndex = index">
          <div class="well Floor_well-class">
            <b> Enter floor {{floorIndex+1}} details</b>
            <div [formGroupName]="floorIndex">
              <div class="form-group">
                <label class="col-md-2"><b>Floor*</b></label>
                <input type="text" formControlName="floorNumber" class="form-control col-md-2"
                  [class.is-invalid]="floor.get('floorNumber').invalid && floor.get('floorNumber').touched">
                <small class="text-danger"
                  [class.d-none]="floor.get('floorNumber').valid || floor.get('floorNumber').untouched"> Floor
                  Required.</small>
              </div>
              <div formArrayName="rooms" *ngFor="let room of floor.controls.rooms.controls; let roomIndex=index">
                <div class="well my_well-class">
                  <div [formGroupName]="roomIndex">
                    <button type="button" class="btn btn-secondary btn-sm btn-round margin"
                      (click)="pushRoomGroup(floorIndex)" [disabled]="room.invalid">Add Room</button>
                    <button type="button" class="btn btn-danger btn-round btn-sm margin"
                      (click)="popRoomGroup(floorIndex,roomIndex)">Delete Room</button><br>
                    <b>Enter Room Number {{roomIndex + 1}} Detials in Floor {{floorIndex + 1}} </b><br><br>
                    <div class="form-group">
                      <label class="col-md-4"><b>Rooom Number *</b></label>
                      <input formControlName="roomNumber" type="text" class="form-control col-md-1"
                        [class.is-invalid]="room.get('roomNumber').touched && room.get('roomNumber').invalid">
                      <small class="text-danger"
                        [class.d-none]="room.get('roomNumber').untouched || room.get('roomNumber').valid">Room Number
                        required</small>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4"><b>Room Capacity *</b></label>
                      <input formControlName="roomCapacity" type="number" class="form-control col-md-1"
                        [class.is-invalid]="room.get('roomCapacity').touched && room.get('roomCapacity').invalid">
                      <small class="text-danger"
                        [class.d-none]="room.get('roomCapacity').untouched || room.get('roomCapacity').valid"> Room
                        Capacity Required</small>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4"><b>Vacancies *</b></label>
                      <input formControlName="vacancies" type="number" class="form-control col-md-1"
                        [class.is-invalid]="room.get('vacancies').touched && room.get('vacancies').invalid">
                      <small class="text-danger"
                        [class.d-none]="room.get('vacancies').untouched || room.get('vacancies').valid"> Vacancies
                        required</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-secondary btn-round btn-sm margin" (click)="pushFloorGroup()"
              [disabled]="floor.invalid">Add
              Floor</button>
            <button type="button" class="btn btn-danger btn-round btn-sm margin"
              (click)="popFloorGroup(floorIndex)">Remove Floor</button>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary"
        [disabled]="newBuildingForm.invalid || newBuildingForm.untouched">Submit</button>
    </form>
  </div>
  {{newBuildingForm.value | json}}
</div>